 <head>
    <title>JustSay</title>
    <!--CSS-->
    <link href="~/Content/CSS/Common.css" rel="stylesheet" />
    <link href="~/Content/CSS/script_css/jquery-ui_1.css" rel="stylesheet" />
    <!--Bootstarp-->
    <link href="~/Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/Bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="~/scripts/jquery-3.6.0.js"></script>
    <script src="~/scripts/jquery-ui.js"></script>
</head>

<body>
    <div class="text_allign">
        <label class="">This is your stage!</label>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <form class="">
                        <label class="">New user!</label>
                        <div class="form_control"><input type="text" id="mobile" placeholder="Enter mobile number" class="" maxlength="10" autocomplete="off"/></div>
                        <div class="form_control radio_control">
                            <div>
                                <input type="radio" name="gender" id="rdo_Male" value="M" checked /><label for="rdo_Male">Male</label>
                            </div>
                            <div>
                                <input type="radio" name="gender" id="rdo_Female" value="F" /><label for="rdo_Female">Female</label>
                            </div>
                            <div>
                                <input type="radio" name="gender" id="rdo_Transgender" value="T" /><label for="rdo_Transgender">Transgender</label>
                            </div>
                        </div>
                        <div class="form_control"><input type="text" id="DOB" placeholder="Date of birth" class="" autocomplete="off"/></div>
                        <div class=""><input type="button" value="Submit" id="submit" class="" onclick="btnSubmit()" /></div>
                    </form>
                </div>
                <div class="col-md-6">
                    <form class="">
                        <label class="">Already user!</label>
                        <div class="form_control"><input type="text" id="user_mobile" placeholder="Enter mobile number" class="" maxlength="10" autocomplete="off"/></div>
                        <div class=""><input type="button" value="Login" id="login" class="" onclick="btnLogin()" /></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $(document).ready(function () {
        $("#DOB").datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0",
        });
    });

    var param;
    function btnSubmit() {

        var phnNumber = $("#mobile").val();
        var dob = $("#DOB").val();
        var gender = $('input[name="gender"]:checked').val();

        if (phnNumber.length == 10 && gender.length == 1 && DOB != "") {
            sessionStorage.setItem("phnNum", phnNumber);
            param = {
                strPhnNo: phnNumber,
                strGender: gender,
                strDOB: dob,
                strFlag:'R'
            }
            loginajax();
        }
        else { alert("Please fill empty fields or provide valid details"); return false; }
    }

    function btnLogin() {
        var userphnnumber = $("#user_mobile").val();
        if (userphnnumber.length == 10) {
            sessionStorage.setItem("phnNum", userphnnumber);
            param = {
                strPhnNo: userphnnumber,
                strFlag:'L'
            }
            loginajax();
        }
        else { alert("Enter valid mobile number"); return false; }
    }

    function loginajax() {
        var GetDetails = "@Url.Action("GetDetails", "Home")";
        $.ajax({
            type: "POST",
            url: GetDetails,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(param),
            success: function (data) {
                if (data.Status == "01") {
                    alert(data.Message);
                    window.location.href = "@Url.Action("OTP_Page", "Home")";
                }
                else if (data.Status == "00") {
                    alert(data.Message);
                }
                else {
                    alert("Unable to update. Please try again later.")
                }
            },
            error: function (ex) {
                alert("Unable to connect remote server.")
            }
        });
    }


</script>               